@font-face {
    font-family: "Norse Bold";
    src: url("./fonts/Norse-Bold.otf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("./fonts/Roboto-Regular.ttf")
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Regular";

}

.container{
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.left-side{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-position: center;
    background-size: cover;
    background-image: url("./images/background.jpg");

}

.main-header{
    background-color: rgba(128, 128, 128, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Norse Bold";
    font-size: 72pt;
    padding: 40px;
    margin-bottom: 200px;
    color: white;
}

.main-header > img {
    max-height: 1.4lh;
}

.right-side{
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.25);

}

.right-top{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-form{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgba(128, 128, 128, 0.25);
}

h1{
    margin-top: 40px;
    margin-left: 40px;
}

.top-text-wrapper{
    max-width: 900px;
    margin-top: 100px;
    margin-left: 40px;
}

.title-text{
    font-size: 24pt;
}

.title-text-quote{
    font-size: 24pt;
    margin-top: 40px;
}

.right-bottom{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 40px;
}

form{
    display: flex;
}

.flex-wrapper{
    display: flex;
    flex-direction: column;
    margin: 40px;

}

input[type=text]{
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    font-size: 14px;
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0;
    margin-top: 0;
    box-sizing: border-box;
}
input[type=text]:focus{
    border: 1px solid lightblue;
    box-shadow: 3px 3px 3px 3px rgba(173, 216, 230, 0.25);
    outline: none;
}

input[type=email]{
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    font-size: 14px;
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0;
    margin-top: 0;
    box-sizing: border-box;
}
input[type=email]:focus{
    border: 1px solid lightblue;
    box-shadow: 3px 3px 3px 3px rgba(173, 216, 230, 0.25);
    outline: none;
}

input[type=password]{
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    font-size: 14px;
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0;
    margin-top: 0;
    box-sizing: border-box;
}
input[type=password]:focus{
    border: 1px solid lightblue;
    box-shadow: 3px 3px 3px 3px rgba(173, 216, 230, 0.25);
    outline: none;
}

input[type=password]:invalid{
    border: 1px solid red;
    box-shadow: 3px 3px 3px 3px rgba(255, 0, 0, 0.25);
    outline: none;
}

input[type=submit]{
    background-color: darkolivegreen;
    color: white;
    border: none;
    box-shadow: 5px 5px 15px 5px rgba(128, 128, 128, 0.25);
    border-radius: 7px;
    font-size: 18px;
    padding: 15px 50px;
    margin: 20px 0;
    box-sizing: border-box;
    width: 250px;
}

a{
    color: darkolivegreen;
    text-decoration: none;
}


